  <div class="P-main-top G-flex G-justify-between G-align-center">
    <div class="G-title">
      <h3>Услуги</h3>
    </div>

    <button class="G-prime-btn" (click)="showAddModal()">Создать категорию</button>
  </div>

  <div class="P-services-container">

    <div class="P-services-table">
      <div class="G-table-block">
        <div class="G-table-head">
          <div class="G-table-tr G-flex G-justify-between">
            <div class="G-table-th">Категория</div>
            <div class="G-table-th">Кол-во услуг</div>
            <div class="G-table-th">Обновление</div>
          </div>
        </div>
        <div class="G-table-body">
          <div *ngFor="let item of list; let i = index" class="G-table-tr"  style="cursor: pointer">
            <div [routerLink]="['../details', item.id]" class="G-table-td">{{item.name}}</div>
            <div [routerLink]="['../details', item.id]" class="G-table-td">{{item.serviceCount}}</div>
            <div  class="G-table-td">
              <div  class="P-services-date-block G-flex G-justify-between G-align-center">
                <div [routerLink]="['../details', item.id]"  class="P-services-date">
                  <p>{{item.updatedDate | date:'d MMM yyyy'}}</p>
                </div>
                <div class="G-tc-toolbar">
                  <app-toolbar-btn>
                    <p  class="G-toolbar-item" (click)="showEditModal(item)" >Edit</p>
                    <p  class="G-toolbar-item" (click)="showDeleteModal(item)">Delete</p>
                  </app-toolbar-btn>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <g-pagination (itemsChanged)="itemsChanged($event)" [getData]="getList" [setParamsByLoad]="paramsByLoad$"></g-pagination>


  </div>


<modal-wrap *ngIf="addModalFlag">
  <div class="P-services-add-modal">
    <h3>Новая категория</h3>
    <div class="P-services-modal-input">
      <p>Название</p>
      <label>
        <input [(ngModel)]="newCategoryServiceName" type="text">
      </label>
    </div>
    <div class="P-service-modal-buttons G-flex G-justify-end">

      <button (click)="showAddModal()" class="G-btn">Отменить</button>

      <button class="G-prime-btn" (click)="addCategoryService()">Сохранить</button>
    </div>
  </div>
</modal-wrap>


<modal-wrap *ngIf="editModalFlag">
  <div class="P-services-add-modal">
    <h3>Изменить категорию</h3>
    <div class="P-services-modal-input">
      <p>Название</p>
      <label>
        <input [(ngModel)]="editCategoryServiceName" type="text">
      </label>
    </div>
    <div class="P-service-modal-buttons G-flex G-justify-end">

      <button (click)="showEditModal()" class="G-btn">Отменить</button>

      <button class="G-prime-btn" (click)="editCategoryService()">Сохранить</button>
    </div>
  </div>
</modal-wrap>



<modal-wrap *ngIf="deleteFlagModal">
  <div class="P-services-delete-modal">
    <h3>Внимание</h3>
    <div class="P-services-delete-input">
      <p>Вы уверены, что хотите удалить этот Услугу?</p>
    </div>
    <div class="P-services-modal-buttons G-flex G-justify-end">

      <button (click)="showDeleteModal()" class="G-btn">Отменить</button>

      <button class="G-prime-btn" (click)="removeBranch()">Удалить</button>
    </div>
  </div>
</modal-wrap>
