<header>
  <div class="G-h-100p G-flex-center-between">
    <div class="P-logo G-mr-100px">
      <div
       class="G-mr-1 G-cursor"
       [bgImage]="'assets/images/sign-in/logo.png'"
       (click)="onNavigateHome()"></div>
    </div>

    <div class="G-w-80p G-min-w-800px G-h-100p G-flex-center-between">
      <ng-container *ngFor="let item of routes">
        <div *ngIf="!item.children.length" class="P-nav-item-body">
          <a
           class="G-flex-align-center G-px-1 P-nav-item" 
           [routerLink]="item.path"
           (click)="changeItemIsOpenedState(item)">
            <p [class.G-bold]="item.exact">{{ item.name }}</p>
          </a>

          <div
           class="P-nav-selected" 
           [class.P-selected]="item.exact && !isFirstInit"
           [class.P-init-selected]="item.exact && isFirstInit"
           [class.P-unSelected]="item.unSelected"></div>
        </div>
    
        <div *ngIf="item.children.length" class="P-menu-container G-h-100p G-flex-align-center">
          <click-outside class="G-h-100p" (clickOutside)="onCloseMenu(item)">
          <div class="P-nav-item-body">
            <a
             class="G-flex-center-between G-px-1 P-nav-item" 
             (click)="changeItemIsOpenState(item)">
              <p [class.G-bold]="item.exact">{{ item.name }}</p>
  
              <i
               class="icon-arrow_down_1 G-fs-12 G-ml-1 G-mt-05" 
               [class.G-rotate]="item.opened"
               [class.G-rotateBack]="!item.opened && item.opened != notDefined"></i>
            </a>

            <div
             class="P-nav-selected"
             [class.P-init-selected]="item.exact && isFirstInit"
             [class.P-selected]="item.exact && !isFirstInit"
             [class.P-unSelected]="item.unSelected"></div>
          </div>
    
            <div class="P-menu" *ngIf="item.opened">
              <a
               class="P-menu-item"
               *ngFor="let child of item.children"
               [routerLink]="child.path"
               routerLinkActive="P-active"
               (click)="onSelectMenuItem(item)">
                <p>{{ child.name }}</p>
              </a>
            </div>
          </click-outside>
        </div>
      </ng-container>

      <div class="G-min-w-200px G-w-15p G-h-30px">
        <select-dropdown
          [list]="branchList"
          [smallHeight]="true"
          [value]="branchId"
          (evChange)="onSelectBranch($event)"></select-dropdown>
      </div>
    </div>
  </div>
</header>