@import 'variables';
@import 'mixins';

header {
  width            : 100%;
  height           : $header-height;
  box-shadow       : $shadow;
  position         : fixed;
  z-index          : $header-z;
  left             : 0;
  top              : 0;
  background-color : $white;
  padding          : 0 60px;
}

.P-logo {
  width: 48px;
  min-width: 48px;
  height: 35px;
  min-height: 35px;
}

.P-menu-container {
  position: relative;

  .P-menu {
    width: fit-content;
    min-width: 150px;
    position: absolute;
    left: 0;
    top: 50px;
    padding: 5px 0;

    box-shadow: $shadow;
    background-color: $white;

    .P-menu-item {
      width: 100%;
      padding: 10px;

      &:hover {
        background-color: $light;
      }
    }
  }
}

.P-active {
  background-color: $light;
}

.P-nav-item-body {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.P-nav-selected {
  width: 0;
  height: 2px;
  background-color: $app-color;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.P-init-selected {
  width: 100% !important;
  box-shadow:  -1px -2px 23px 0px rgba(0, 0, 0, 0.75);
}

.P-selected {
  animation: openMenu .5s forwards;
}

.P-unSelected {
  animation: closeMenu .5s forwards;
}

.header-select select {
  width: 168px;
  height: 37px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #CCCCCC;
  text-align: left;
  font: Regular 16px/20px PT Sans;
  letter-spacing: 0;
  color: #141414;
}

@keyframes openMenu {
  from {
    width: 30%;
  }

  to {
    width: 100%;
    box-shadow:  -1px -2px 23px 0px rgba(0, 0, 0, 0.75);
  }
}

@keyframes closeMenu {
  from {
    width: 100%;
    box-shadow:  -1px -2px 23px 0px rgba(0, 0, 0, 0.75);
  }

  to {
    width: 0;
    box-shadow: none;
  }
}

@include notebook {
  .P-logo {
    margin-right: 30px;
  }
}