@import "variables";

.P-left-side {
  width            : $left-side-width;
  min-width        : $left-side-width;
  height           : 100vh;
  padding-top      : 20px;
  transition       : all $left-side-transition;
  background-color : $black;
  position         : fixed;
  top              : 0;
  left             : 0;
  z-index          : $header-z + 1;

  .P-header {
    height        : 105px;
    margin-bottom : 50px;
    position      : relative;

    .P-menu-btn {
      width            : 40px;
      height           : 40px;
      transform        : translateX(50%);
      border-radius    : $radius;
      transition       : all .2s;
      position         : absolute;
      right            : 0;
      top              : 20px;
      cursor           : pointer;
      background-color : $body-color;

      &:hover {
        box-shadow: $shadow;
      }
    }

    img {
      height     : 60%;
      display    : block;
      transition : all .2s;
    }

    p {
      margin-top : 20px;
      font-size  : 22px;
      transition : all .2s;
      transition-delay: .2s;
    }
  }

  p {
    opacity        : 1;
    transition     : all .2s;
    user-select    : none;
    text-transform : capitalize;
    white-space    : nowrap;
    color          : $white;
  }

  .P-content {
    height     : calc(100% - 155px);
    overflow-x : hidden;
    padding    : $padding 0 $padding 20px;

    .P-menu-item {
      margin-bottom : 10px;
      padding       : 10px 20px;
      border-radius : 6px 0 0 6px;
      transition    : all .1s;
      position      : relative;
      overflow      : hidden;
      cursor        : pointer;
      outline       : 0 !important;

      &.active {
        box-shadow       : 0 3px 6px rgba(0, 0, 0, .2);
        background-color : transparentize($white, .9);
      }

      &:hover {
        box-shadow       : 0 3px 6px rgba(0, 0, 0, .2);
        background-color : transparentize($white, .9);
      }

      p {
        width     : calc(100% - 40px);
        min-width : calc(100% - 40px);
      }

      i {
        margin-right : 20px;
        color        : $white;
      }
    }
  }

  &.P-close {
    width     : $left-side-closed-width;
    min-width : $left-side-closed-width;

    img {
      height : 40% !important;
    }

    p {
      opacity : 0;
    }

    .P-header {
      
      p {
        transition : all 0s;
        transition-delay: 0s;
      }
    }
  }
}
