<div class="G-container">

  <div class="G-main-container">
    <div class="P-main-top G-flex G-justify-between G-align-center">
      <div class="G-title">
        <h3>Персонал</h3>
      </div>
      <div class="G-flex G-align-center">
        <div class="P-employees-modal-input-search">
          <label>
            <input [formControl]="searchTextf" placeholder="Искать по имени или номеру телефона..." type="text">
          </label>
        </div>
      <div class="G-btn G-btn-create">
        <button (click)="showAddModal()">Создать должность</button>
      </div>
      </div>
    </div>
  </div>


  <div class="P-employees-container">

    <div class="P-employees-table">
      <div class="G-table-block">
        <div class="G-table-head">
          <div class="G-table-tr G-flex G-justify-between">
            <div class="G-table-th">Имя</div>
            <div class="G-table-th">Номер телефона</div>
            <div class="G-table-th">Должность</div>
            <div class="G-table-th">Принят</div>
          </div>
        </div>
        <div class="G-table-body">
          <div *ngFor="let item of list; let i = index" class="G-table-tr">
            <div class="G-table-td G-flex G-align-center">
              <img class="P-table-img" src="{{item.imageUrl}}" (error)="errImageLoad($event)" alt="">
              {{item.firstName}} {{item.lastName}}
            </div>
            <div class="G-table-td">{{item.phoneNumber}}</div>
            <div class="G-table-td">{{item.positionName}}</div>
            <div class="G-table-td">
              <div class="P-employees-date-block G-flex G-justify-between G-align-center">
                <div class="P-employees-date">
                  <p>{{item.dateOfReceipt | date:'d MMM yyyy'}}</p>
                </div>
                <div class="G-tc-toolbar">
                  <app-toolbar-btn>
                    <p  class="G-toolbar-item" (click)="showEditModal(item)">Edit</p>
                    <p  class="G-toolbar-item" (click)="showDeleteModal(item)">Delete</p>
                  </app-toolbar-btn>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <g-pagination (itemsChanged)="itemsChanged($event)" [getData]="getList" [setParamsByLoad]="paramsByLoad$"></g-pagination>


  </div>
</div>


<modal-wrap *ngIf="addModalFlag">
  <div class="P-employees-add-modal">
    <h3>Новая категория</h3>
    <form [formGroup]="form" >

      <div class="G-flex G-justify-between">
        <div class="P-employees-modal-input">
          <p>Имя</p>
          <label>
            <input formControlName="firstName" type="text">
          </label>
        </div>
        <div class="P-employees-modal-input">
          <p>Фамилия</p>
          <label>
            <input formControlName="lastName" type="text">
          </label>
        </div>
      </div>

      <div class="G-flex G-justify-between">
        <div class="P-employees-modal-input">
          <p>Салон</p>
          <label>
            <input formControlName="branchList" type="text">
          </label>
        </div>
        <div class="P-employees-modal-input">
          <p>Номер телефона</p>
          <label>
            <input formControlName="phoneNumber" type="text">
          </label>
        </div>
      </div>

      <div class="G-flex G-justify-between">
        <div class="P-employees-modal-input">
          <p>Эл. почта</p>
          <label>
            <input formControlName="email" type="text">
          </label>
        </div>
        <div class="P-employees-modal-input">
          <p>Должность</p>
          <label>
            <input formControlName="positionId" type="text">
          </label>
        </div>
      </div>


      <div class="G-flex G-justify-between">
        <div class="P-employees-modal-input">
          <p>День рождения</p>
          <label>
            <p-calendar class="P-calendar" formControlName="dateOfBirth" dateFormat="dd.mm.yy"></p-calendar>
          </label>
        </div>
        <div class="P-employees-modal-input">
          <p>Дата приема</p>
          <label>
            <p-calendar formControlName="dateOfReceipt" dateFormat="dd.mm.yy"></p-calendar>
          </label>
        </div>
      </div>



    <div class="P-service-modal-buttons G-flex G-justify-end">

      <div class="G-btn ">
        <button (click)="showAddModal()" class="P-employees-modal-input-cancel-btn">Отменить</button>
      </div>

      <div class="G-btn">
        <button (click)="addCategoryService()" type="submit">Добавить</button>
      </div>
    </div>
    </form>
  </div>

</modal-wrap>

<modal-wrap *ngIf="editModalFlag">
  <div class="P-employees-add-modal">
    <h3>Новая категория</h3>
    <div class="P-employees-modal-input">
      <p>Название</p>
      <label>
        <input [(ngModel)]="editemployeesName" type="text">
      </label>
    </div>
    <div class="P-employees-modal-buttons G-flex G-justify-end">

      <div class="G-btn ">
        <button (click)="showEditModal()" class="P-employees-modal-input-cancel-btn">Отменить</button>
      </div>

      <div class="G-btn">
        <button (click)="editBrancheService()">Сохранить</button>
      </div>
    </div>
  </div>
</modal-wrap>


<modal-wrap *ngIf="deleteFlagModal">
  <div class="P-employees-delete-modal">
    <h3>Внимание</h3>
    <div class="P-employees-delete-input">
      <p>Вы уверены, что хотите удалить эту должнось?</p>
    </div>
    <div class="P-employees-modal-buttons G-flex G-justify-end">

      <div class="G-btn ">
        <button (click)="showDeleteModal()" class="P-employees-modal-input-cancel-btn">Отменить</button>
      </div>

      <div class="G-btn">
        <button (click)="removeemployees()">Удалить</button>
      </div>
    </div>
  </div>
</modal-wrap>
