<div class="P-sign-in-title P-sign-in-recover-media">
  <h3>Восстановление пароля</h3>
  <h6>Создайте новый пароль</h6>
</div>
<div class="P-sign-in-form">
  <div class="P-sign-in-inputs-block">
    <p>Новый пароль</p>
    <label>
      <input [formControl]="password"  type="text">
    </label>
  </div>
  <div class="P-sign-in-inputs-block">
    <p>Подтвердите новый пароль</p>
    <label>
      <input [formControl]="checkPassword" [class.G-error]="password.value !== checkPassword.value && checkPassword.touched" type="text">
    </label>
  </div>
  <div class="P-forgote-password G-flex G-justify-end">
    <a>Зыбили пароль</a>
  </div>
  <div class="P-sign-in-button btn">
    <button (click)="auth()" [disabled]="flag" [ngClass]="{'P-sign-in-cursor-progress': flag}">Дальше</button>
  </div>
  <div class="P-sign-in-login">
    <a routerLink="../login">Войти в свой аккаунт</a>
  </div>
</div>
