@import "variables";

.GG-toolbar-wrap {
  position : relative;

  .GG-toolbar-btn {
    display     : flex;
    align-items : center;
    padding     : 10px 4px;
    cursor      : pointer;

    span {
      width            : 4px;
      height           : 4px;
      margin           : 0 2px;
      border-radius    : 50%;
      display          : block;
      background-color : $gray;
    }
  }

  .GG-toolbar-content {
    min-width        : 130px;
    padding          : 10px 0;
    position         : absolute;
    top              : calc(100% + 5px);
    right            : 100%;
    display          : none;
    border-radius    : 4px;
    box-shadow       : 0 0 5px rgba(0, 0, 0, .2);
    z-index          : 1;
    background-color : $white;

    &.show {
      display : block;
    }
  }

  .GG-rotate {
    transform: rotate(90deg);
  }
}
