<div class="G-container">

  <div class="G-main-container">
    <div class="P-main-top G-flex G-justify-between G-align-center">
      <div class="G-title">
        <h3>Услуги / {{name}}</h3>
      </div>
      <div class="G-flex G-align-center">
        <div class="P-services-modal-input-search">
          <label>
            <input [formControl]="searchText" placeholder="Искать по названию..." type="text">
          </label>
        </div>
        <div>
          <button class="G-prime-btn" (click)="showAddModal()">Добавить услугу</button>
        </div>
      </div>
    </div>
  </div>

  <div class="P-services-container">

    <div class="P-services-table">
      <div class="G-table-block">
        <div class="G-table-head">
          <div class="G-table-tr G-flex G-justify-between">
            <div class="G-table-th">Услуга</div>
            <div class="G-table-th">Цена</div>
            <div class="G-table-th">Продолжительность</div>
          </div>
        </div>
        <div class="G-table-body">
          <div *ngFor="let item of list; let i = index" class="G-table-tr">
            <div class="G-table-td">{{item.name}}</div>
            <div class="G-table-td">{{item.price}} драм</div>
            <div class="G-table-td">
              <div class="P-services-date-block G-flex G-justify-between G-align-center">
                <div class="P-services-date">
                  <p>{{item.duration}} мин</p>
                </div>
                <div class="G-tc-toolbar">
                  <app-toolbar-btn>
                    <p class="G-toolbar-item" (click)="showEditModal(item)">Edit</p>
                    <p class="G-toolbar-item" (click)="showDeleteModal(item)">Delete</p>
                  </app-toolbar-btn>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <g-pagination (itemsChanged)="itemsChanged($event)" [getData]="getList"
                  [setParamsByLoad]="paramsByLoad$"></g-pagination>


  </div>
</div>


<add-model-service *ngIf="addModalFlag" (close)="showAddModal()" (send)="showAddModal('get')" [id]="id"></add-model-service>

<edit-model-service *ngIf="editModalFlag" (close)="showEditModal()" (send)="editCategoryService('get')" [id]="editCandidate.id"></edit-model-service>



<modal-wrap *ngIf="deleteFlagModal">
  <div class="P-services-delete-modal">
    <h3>Внимание</h3>
    <div class="P-services-delete-input">
      <p>Вы уверены, что хотите удалить этот Услугу?</p>
    </div>
    <div class="P-services-modal-buttons G-flex G-justify-end">

      <button (click)="showDeleteModal()" class="G-btn">Отменить</button>
      
      <button class="G-prime-btn" (click)="removeBranch()">Удалить</button>
    </div>
  </div>
</modal-wrap>
